API_PASSWORD="nut-upsd api password, max length 32"
UPS_IP_ADDRESS="ip address of the ups running the SNMPv3 service"
UPS_DESCRIPTION="description of the ups"
SNMP_USERNAME="snmp authentication username"
SNMP_PASSWORD="snmp authentication password, max length 32"

VENDORID="1234"
