ZIP_PASSWORD="Password for Vaultwarden encrypted zip backups"
DISCORD_WEBHOOK_URL="Discord webhook URL for notifications"

# These notifications are sent when a backup is made
# This example uses a Discord webhook, but any other curl command works
PING_URL_WHEN_SUCCESS="${DISCORD_WEBHOOK_URL}"
PING_URL_WHEN_SUCCESS_CURL_OPTIONS='-H "Content-Type: application/json" -X POST -d "{\"content\": \"**✅ %{subject}**\\n%{content}\"}"'
PING_URL_WHEN_FAILURE="${DISCORD_WEBHOOK_URL}"
PING_URL_WHEN_FAILURE_CURL_OPTIONS='-H "Content-Type: application/json" -X POST -d "{\"content\": \"**⚠️ %{subject}**\\n%{content}\"}"'
