alerting:
  discord:
    webhook-url: "${DISCORD_WEBHOOK_URL}"
    default-alert:
        send-on-resolved: true
        failure-threshold: 3
        success-threshold: 2
  ntfy:
    url: "https://ntfy.${DOMAIN}"
    topic: "status"
    click: "https://gatus.${DOMAIN}"
    default-alert:
        send-on-resolved: true
        failure-threshold: 3
        success-threshold: 2

endpoints:
  - name: "Homepage"
    url: "https://${DOMAIN}"
    interval: "${INTERVAL}"
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: "ntfy"
      - type: "discord"

  - name: "ntfy"
    url: "https://ntfy.${DOMAIN}"
    interval: "${INTERVAL}"
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: "ntfy"
      - type: "discord"

  - name: "PeaNUT"
    url: "https://peanut.${DOMAIN}"
    interval: "${INTERVAL}"
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: "ntfy"
      - type: "discord"

  - name: "PiHole"
    url: "https://pihole.${DOMAIN}"
    interval: "${INTERVAL}"
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: "ntfy"
      - type: "discord"

  - name: "traefik"
    url: "https://traefik.${DOMAIN}"
    interval: "${INTERVAL}"
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: "ntfy"
      - type: "discord"

  - name: "Vaultwarden"
    url: "https://vaultwarden.${DOMAIN}"
    interval: "${INTERVAL}"
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: "ntfy"
      - type: "discord"

  - name: "Paperless"
    url: "https://paperless.${DOMAIN}"
    interval: "${INTERVAL}"
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: "ntfy"
      - type: "discord"

  - name: "unifi-voucher-manager"
    url: "https://vouchers.${DOMAIN}"
    interval: "${INTERVAL}"
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: "ntfy"
      - type: "discord"

  - name: "Copyparty"
    url: "https://copyparty.${DOMAIN}"
    interval: "${INTERVAL}"
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: "ntfy"
      - type: "discord"

  - name: "Wakesp"
    url: "https://wakesp.${DOMAIN}"
    interval: "${INTERVAL}"
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: "ntfy"
      - type: "discord"

  - name: "IPMI"
    url: "https://ipmi.${DOMAIN}"
    interval: "${INTERVAL}"
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: "ntfy"
      - type: "discord"
