PUBLIC_EMAIL="a.public.email@address"
DOMAIN="local.example.tld"

# Traefik
# Token needs:
#  - Zone.Zone:Read
#  - Zone.DNS:Edit
CF_DNS_API_TOKEN="your token"
PIHOLE_IP="pihole ip with port"
WOL_IP="wol ip with port"

# Vaultwarden
VAULTWARDEN_ZIP_PASSWORD="password for Vaultwarden backups"
