DOMAIN="local.example.tld"
PUBLIC_EMAIL="public.email@address"

CITY="Name of your city"
TIMEZONE="America/Toronto"

PGID="1000"
PUID="1000"

MAIN_DNS="1.1.1.1" # If you run your own DNS for private services, put use its address here
