---
services:
  homepage:
    image: "ghcr.io/gethomepage/homepage:v1.6.1"
    container_name: "homepage"
    restart: "unless-stopped"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "./config/settings:/app/config"
      - "./config/images:/app/public/images"
    environment:
      PUID: "${PUID}"
      PGID: "${PGID}"
      HOMEPAGE_VAR_CITY: "${CITY}"
      HOMEPAGE_VAR_DOMAIN: "${DOMAIN}"
      HOMEPAGE_VAR_TIMEZONE: "${TIMEZONE}"
      HOMEPAGE_ALLOWED_HOSTS: "${DOMAIN}"
    env_file:
      - "./secret.env"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.homepage.rule=Host(`${DOMAIN}`)"
      - "traefik.http.services.homepage.loadbalancer.server.port=3000"
    dns:
      - "${MAIN_DNS}"
    networks:
      - "proxy"
      - "socket-proxy"

networks:
  proxy:
    external: "true"
  socket-proxy:
    external: "true"
