http:
  routers:
    wakesp:
      rule: '{{ expandenv "Host(`wakesp.$DOMAIN`)" }}'
      service: "wakesp"
    ipmi:
      rule: '{{ expandenv "Host(`ipmi.$DOMAIN`)" }}'
      service: "ipmi"
    pve:
      rule: '{{ expandenv "Host(`pve.$DOMAIN`)" }}'
      service: "pve"
    truenas:
      rule: '{{ expandenv "Host(`truenas.$DOMAIN`)" }}'
      service: "truenas"
    unifi:
      rule: '{{ expandenv "Host(`unifi.$DOMAIN`)" }}'
      service: "unifi"
    ups:
      rule: '{{ expandenv "Host(`ups.$DOMAIN`)" }}'
      service: "ups"
    homeassistant:
      rule: '{{ expandenv "Host(`homeassistant.$DOMAIN`)" }}'
      service: "homeassistant"

  services:
    wakesp:
      loadBalancer:
        servers:
          - url: '{{ expandenv "http://$WAKESP_IP" }}'
    ipmi:
      loadBalancer:
        servers:
          - url: '{{ expandenv "https://$IPMI_IP" }}'
    pve:
      loadBalancer:
        servers:
          - url: '{{ expandenv "https://$PVE_IP" }}'
    truenas:
      loadBalancer:
        servers:
          - url: '{{ expandenv "https://$TRUENAS_IP" }}'
    unifi:
      loadBalancer:
        servers:
          - url: '{{ expandenv "https://$UNIFI_IP" }}'
    ups:
      loadBalancer:
        servers:
          - url: '{{ expandenv "https://$UPS_IP" }}'
    homeassistant:
      loadBalancer:
        servers:
          - url: '{{ expandenv "http://$HOMEASSISTANT_IP" }}'

  middlewares:
    default:
      chain:
        middlewares:
          - "default-security-headers@file"
          - "gzip@file"
          - "authelia@docker"

    default-security-headers:
      headers:
        browserXssFilter: "true" # X-XSS-Protection=1; mode=block
        contentTypeNosniff: "true" # X-Content-Type-Options=nosniff
        forceSTSHeader: "true" # Add the Strict-Transport-Security header even when the connection is HTTP
        frameDeny: "false" # X-Frame-Options=deny
        referrerPolicy: "strict-origin-when-cross-origin"
        sslRedirect: "true" # Allow only https requests
        stsIncludeSubdomains: "true" # Add includeSubdomains to the Strict-Transport-Security header
        stsPreload: "true" # Add preload flag appended to the Strict-Transport-Security header
        stsSeconds: "63072000" # Set the max-age of the Strict-Transport-Security header (63072000 = 2 years)

    # Enables the GZIP compression
    #   if the response body is larger than 1400 bytes
    #   if the Accept-Encoding request header contains gzip
    #   if the response is not already compressed (Content-Encoding is not set)
    gzip:
      compress: {}

# Disable TLS version 1.0, 1.1 and 1.2
tls:
  options:
    default:
      minVersion: "VersionTLS13"
      sniStrict: "true"
