# Traefik
# Cloudflare token requires:
#  - Zone.Zone:Read
#  - Zone.DNS:Edit
CF_DNS_API_TOKEN="your cloudflare token"
HOMEASSISTANT_IP="home-assistant ip with port"
IPMI_IP="ipmi ip with port"
PVE_IP="proxmox ip with port"
TRUENAS_IP="truenas ip with port"
UNIFI_IP="unifi ip with port"
UPS_IP="ups ip with port"
WAKESP_IP="wakesp ip with port"
PIHOLE_IP="pihole ip with port"
