---
services:
  nut-upsd:
    container_name: "nut-upsd"
    image: "instantlinux/nut-upsd:2.8.3-r3"
    restart: "unless-stopped"
    ports:
      - "3493:3493"
    # devices:
    #   - "/dev/bus/usb"
    volumes:
      - "./config/ups.conf:/etc/nut/local/ups.conf"
    env_file:
      - "./secret.env"
    environment:
      API_USER: "upsmon"
      NAME: "eaton_9px1500rt-l"
      # DESCRIPTION: "Eaton 9PX1500RT-L"
      # DRIVER: "usbhid-ups"
      # VENDORID: "0463"
      # PORT: "auto"
      # NUT_DEBUG_LEVEL: 6
    dns:
      - "${MAIN_DNS}"
