---
services:
  nut-upsd:
    container_name: "nut-upsd"
    image: "instantlinux/nut-upsd:2.8.3-r2"
    restart: "unless-stopped"
    # devices:
    #   - "/dev/bus/usb"
    volumes:
      - "./config/ups.conf:/etc/nut/local/ups.conf"
    env_file:
      - "./secret.env"
    environment:
      API_USER: "upsmon"
      NAME: "eaton_9px1500rt-l"
      # DESCRIPTION: "Eaton 9PX1500RT-L"
      # DRIVER: "usbhid-ups"
      # VENDORID: "0463"
      # PORT: "auto"
      NUT_DEBUG_LEVEL: 6
    dns:
      - "${MAIN_DNS}"
    networks:
      - "nut"

  peanut:
    container_name: "peanut"
    image: "brandawg93/peanut:5.16.0"
    volumes:
      - "./config:/config"
    restart: "unless-stopped"
    networks:
      - "proxy"
      - "nut"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.peanut.rule=Host(`peanut.${DOMAIN}`)"
      - "traefik.http.services.peanut.loadbalancer.server.port=8080"

networks:
  proxy:
    external: "true"
  nut:
    name: "nut"
