services:
  vaultwarden:
    image: "vaultwarden/server:1.34.3"
    container_name: "vaultwarden"
    restart: "unless-stopped"
    environment:
      DOMAIN: "https://vaultwarden.${DOMAIN}"
      SIGNUPS_ALLOWED: "false"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "./config:/data"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.vaultwarden.rule=Host(`vaultwarden.${DOMAIN}`)"
      - "traefik.http.services.vaultwarden.loadbalancer.server.port=80"
    networks:
      - "proxy"

  vaultwarden-backup:
    image: "ttionya/vaultwarden-backup:1.25.3"
    container_name: "vaultwarden-backup"
    restart: "unless-stopped"
    depends_on:
      vaultwarden:
        condition: "service_started"
    env_file:
      - "./secret.env"
    environment:
      RCLONE_REMOTE_NAME: "VaultwardenBackup"
      RCLONE_REMOTE_DIR: "/VaultwardenBackup/"
      CRON: "5 * * * *"
      ZIP_ENABLE: "TRUE"
      ZIP_TYPE: "7z"
      BACKUP_FILE_SUFFIX: "%Y%m%d"
      BACKUP_KEEP_DAYS: 90 # 0 to keep all
      TIMEZONE: "${TIMEZONE}"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "./config:/bitwarden/data/"
      - "vaultwarden-rclone-data:/config/"
    networks:
      - "proxy"

volumes:
  vaultwarden-rclone-data:
    external: "true"
    name: "vaultwarden-rclone-data"

networks:
  proxy:
    external: "true"
