---
services:
  peanut:
    container_name: "peanut"
    image: "brandawg93/peanut:5.22.0"
    volumes:
      - "./config:/config"
    restart: "unless-stopped"
    networks:
      - "proxy"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.peanut.rule=Host(`peanut.${DOMAIN}`)"
      - "traefik.http.services.peanut.loadbalancer.server.port=8080"

networks:
  proxy:
    external: "true"
