NUT_SERVER_ADDRESS="hostname or IP address of the NUT upsd server"
NUT_SERVER_PORT="TCP port of the NUT upsd server (default 3493)"
NUT_SERVER_API_USERNAME="username for NUT upsd API authentication (default upsmon)"
NUT_SERVER_API_PASSWORD="password for NUT upsd API authentication, max length 32"
